body {
    margin: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    background-color:black;
    position: fixed;
    width: 100vw;
    z-index: 1030;
    background-color: rgba(0, 0, 0, 0.6);

}

.itens-rodape{
    display: flex;
    justify-content: center;
}

ul{
    list-style: none;
    display: flex;
    padding: 5px;
}

.li{
   display: list-item;
   text-align: right;

}
h1 {
    margin: 0;
}
